*{
    /* font-family: poppins; */
}
button.price-btn {
    font-weight: bold; 
    height: 100px; 
    width: 70px; 
    border-radius: 50px; 
    font-size: 20px; 
    border: none; 
    background-color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0 auto;
    position: relative;
    top: -30px;

}